:root {
  text-align: center;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #111113;
}

#DataTextArea {
  width: 100%;
  max-width: 1200px;
  min-width: 500px;
  height: 350px;
  min-height: 150px;
  max-height: 600px;
  padding-left: 28px;
  padding-right: 28px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: block;
  resize: none;
  overflow-y: auto;
}

.DataTextAreaWrapper {
  width: 200vw;
  max-width: 1200px;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background: rgba(17, 17, 19, 0.85); /* Slightly transparent to blend */
  color: #ccc;
  text-align: center;
  padding: 8px 0 8px 0;
  font-size: 1rem;
  z-index: 100;
  box-shadow: 0 -2px 12px 0 rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.05);
}